.app {
  width: 400px;
  margin: 50px auto;
  background: #fff8f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  font-family: sans-serif;
  text-align: center;

}

h1 {
  text-align: center;
  color: #000000;
}

.task-form {
  display: flex;
  gap: 10px;
}

.task-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button {
  padding: 8px 12px;
  background: #000000;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: rgb(103, 103, 103);
}

.task-list button {
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
